version: '3'

networks:
  redis:

services:
  redis:
    image: redis/redis-stack-server:latest
    container_name: redis
    volumes:
      - ./redis-data/:/data
    networks:
      - redis
    ports:
      - 6379:6379